// required to get $orange variable
// @import '~bootstrap/scss/_functions';
// @import '~bootstrap/scss/_variables';
// $primary: $orange; // set the $primary variable
// @import "/node_modules/bootstrap/scss/bootstrap";


$primary: #C0DA1F;
$white: #FBFBFB;

// // merge with existing $theme-colors map
// $theme-colors: map-merge($theme-colors, ("primary": $primary));

.custom-alert {
  margin-bottom: 0 !important;
}

.custom-pointer {
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

// .btn:active,
// .btn:focus,
// .btn.active,
// .btn:active:focus {
//    background-image: none;
//    outline: 0;
//    -webkit-box-shadow: none;
//    box-shadow: none;
// }

.input::placeholder {
  color: red !important;
  opacity: 1;
}

::placeholder {
  color: red;
}

@import "bootstrap/scss/bootstrap";